<!-- BEGIN custom_bbcodes -->
<button type="button" class="button button-icon-only bbcode-has-icon bbcode-{{ custom_bbcodes.BBCODE_TAG_CLEAN }}" name="addbbcode{{ custom_bbcodes.BBCODE_ID }}" value="{{ custom_bbcodes.BBCODE_TAG }}" onclick="bbstyle({{ custom_bbcodes.BBCODE_ID }})" title="{{ custom_bbcodes.BBCODE_HELPLINE }}">
	<!-- IF custom_bbcodes.BBCODE_FONT_ICON != '' -->
		<i class="icon fa-{{ custom_bbcodes.BBCODE_FONT_ICON }} fa-fw" aria-hidden="true"></i>
	<!-- ELSE -->
		{{ custom_bbcodes.BBCODE_TAG }}
	<!-- ENDIF -->
</button>

<script type="text/javascript">
	bbtags.push({{ custom_bbcodes.BBCODE_NAME }});
</script>
<!-- END custom_bbcodes -->